body{
    display: flex;
    width: 1000px;
    flex-wrap: wrap;
}
.header {
    width: 1000px;
    height: 40px;
    background: lightblue;
}
.footer {
    width: 1000px;
    height: 100px;
    background: lightcoral;
}
.main {
    display: flex;
    width: 1000px;
}
.left {
    width: 200px;
    height: 200px;
    background: lightpink;
}
.center {
    width: 100%;
    height: 200px;
    background: chocolate;
}
.right {
    width: 200px;
    height: 200px;
    background: cyan;
}
